*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    background-color: #FFDAB3;
    color:white;
}

.header{
    width: 100vw;
    height: 10svh;
    background-color: #331A00;
    display: block;
    font-size: 3.5vh;
    text-align: center;
    box-shadow: 0px 15px 20px #FFC180;
}

.inner_header{
    padding-right: 5%;
    padding-left: 5%;
    height: 10svh;
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
}
.header_text{
    box-shadow: 0px 5px 0px -5px white;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
}

.header_text:hover{
    box-shadow: 0px 5px 0px -5px white, 0px 4px 0px 0px white;
}

.title_container{
    width: 100%;
    height:40svh;
}

.title{
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 40vh;
    color: #331A00;
    text-align: center;
    justify-content: center;;
    gap:5vh;
    font-size: 1rem;
}

.button_box_container{
    box-shadow: 0px -15px 20px #FFC180;
    width: 100vw;
    height: 50svh;
    background-color: #331A00;
    display:flex;
    justify-content: center;
}

.button_grid{
    display: grid;
    gap: 4vh;
}

.button_box{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap:10vw;
}

.button_text{
    width:40vw; 
    font-family: 'Roboto Mono', monospace; 
    font-size: 1.5vw;
}

button{
    font-family: 'Roboto Mono', monospace;
    color:white;
    font-size: 2rem;
    padding:0.5em;
    background-color: #331A00;
    cursor: pointer;
    border: white;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    box-shadow:0 0 0 0px #331A00, 0 0 0 5px white;
}

button:hover{
    box-shadow: 0 0 0 10px #331A00, 0 0 0 15px white;
}

